Resolving url paths

I am playing around with rdf-ext, it is very cool and intuitive, congrats!

I have the following graph at url [https://nicola.databox.me/profile/card](https://nicola.databox.me/profile/card)

```
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .

<>
    <http://purl.org/dc/terms/title> "Nicola's Profile" ;
    a <http://xmlns.com/foaf/0.1/PersonalProfileDocument> ;
    <http://xmlns.com/foaf/0.1/primaryTopic> <#me> .

<#me>
    a <http://xmlns.com/foaf/0.1/Person> ;
    <http://www.w3.org/ns/auth/cert#key> <#key> ;
    <http://www.w3.org/ns/pim/space#preferencesFile> <../Preferences/prefs> .
```

Now, when I do:

```javascript
graph.match('https://nicola.databox.me/profile/card','http://www.w3.org/ns/pim/space#preferencesFile')
```

It returns:
```
https://nicola.databox.me/profile/../Preferences/prefs 
```

Is it possible to resolve the paths in the library?

E.g.
```
https://nicola.databox.me/Preferences/prefs 
```

Hi Nicola,

Thanks for the feedback, credits go mainly to @bergos :)

I don't think path resolving is currently implemented, question is is this defined behavior in RDF? And this question could probably be answered by @retog 

How did you parse the graph? For example the JSON-LD parser would resolve the relative path in the expand step. But like @ktk mentioned, first we need to know if there is a definition? Maybe @RubenVerborgh has an answer to this question.

The conclusive answer is in the [RDF 1.1 specification](http://www.w3.org/TR/rdf11-concepts/#section-IRIs):

> Relative IRIs must be [resolved against a base IRI](http://tools.ietf.org/html/rfc3986#section-5.2) to make them absolute.

And this seems to be an N3.js bug: https://github.com/RubenVerborgh/N3.js/issues/51

@nicola btw. have you seen Clownface for graph traversing? Here an example how you would fetch the preferences file:

    var cf = rdf.cf.Store(new rdf.promise.Store(new rdf.LdpStore()));

    cf.node('https://nicola.databox.me/profile/card#me')
      .then(function (cf) {
        console.log(cf.out('http://www.w3.org/ns/pim/space#preferencesFile').literal().shift());
      });

Of course I have seen it
(I think that should be decoupled from this library as well!!). I was going to build a similar system and I found it!

@RubenVerborgh it doesn't exactly not happen, the IRI Ref is not kept relative which would be against the specs (except the LDP spec, but that's another story). The thing is that the IRI is not made absolute the right way (i.e. according to the IRI RFC 3987 and RFC 3986): instead of <https://nicola.databox.me/profile/../Preferences/prefs> it should be <https://nicola.databox.me//Preferences/prefs>.

I hope that is the case, or it would be a nightmare for me to do that simple operation

@retog Yes, that's what I mean: the resolving happens by just sticking both parts together, whereas (only) leading sequences of `../` in the relative URL should be removed.

I just got a funny: `https://nicola.databox.me/profile/../Preferences/../`

@nicola But that's something different. 

> IRI equality: Two IRIs are equal if and only if they are equivalent under Simple String Comparison according to section 5.1 of RFC3987. Further normalization must not be performed when comparing IRIs for equality.

In other words: when resolving, we should correctly adapt all leading sequences of `../`, but not any sequences occurring elsewhere. E.g., resolving `../Preferences/../` against `https://nicola.databox.me/profile/` must result in `https://nicola.databox.me/Preferences/../`.